.st-cogstack-concept-search-result-item {
  color: var(--text-color);
}

.theme-dark .st-cogstack-concept-search-result-item {
  background-color: var(--secondary-background-color);
  border-color: var(--background-color);
}

.st-cogstack-concept-search-result-item.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.st-cogstack-concept-search-select {
  display: none;
}

.st-cogstack-concept-search-chosen {
  margin-top: .5rem;
  font-size: .9rem;
}

.st-cogstack-concept-search-chosen span {
  font-weight: bold;
}
